{% extends "cast/layout.html" %}

{% block content %}
{% load staticfiles %} 
<div class="wrap">
    <nav class="mobile navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="{% url 'cast:index' %}"><i class="fa fa-times" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
   
    <a name="comment">
    <ul class="comment_box">
        {% for comment in best_comment_list %}
        <li class="comment">
            <a href=""><img class="comment-user-img" src="{{ comment.user.socialaccount_set.all.first.get_avatar_url }}" alt=""></a>
            <div class="comment_content">
                <strong class="comment_user"> {{ comment.user }}</strong>
                <p class="comment_message">{{ comment.message }}</p>

            {% if comment.user == user %}
               <p class="comment_edit">
                   <a href="{% url 'cast:comment_edit' comment.pk %}?next={{ request.path }}" >수정</a>
                    <a href="{% url 'cast:comment_delete' comment.pk %}?next={{ request.path }}" class="text-danger">삭제</a>
               </p>
            {% endif %}

                <p style="font-size:10px;">
                <!--댓글 작성 시간 가져오기-->
                <span style="color:#9c9c9c;">
                {% if comment.created_at %}
                    {{ comment.created_at|date:'Y-m-d H:i' }}
                {% endif %}
                </span>&nbsp;&nbsp;
                <a href="{% url 'cast:recomment_new' comment.pk %}?next={{ request.path }}"><img src="{% static 'cast/img/comment.png' %}" alt="" style="width:13px;">&nbsp;
                  <!--대댓 개수 가져오기-->
                  <span style="color:#9c9c9c;">{{ comment.recomment_set.all.count }}</span></a>
                   <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="like" value="1" ><img src="{% static 'cast/img/like.png' %}" alt="" style="width:13px;margin:0px 1px 0px 5px;"></a>
                   <!--좋아요 개수 가져오기-->
                    <span id='comment-like-count-{{ comment.pk }}' style="color:#9c9c9c;">
                        {{ comment.like_number }}
                    </span>
                    <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="dislike" value="2"> <img src="{% static 'cast/img/dislike.png' %}" alt="" style="margin:2px 3px 0px 5px;width:14px;"></a>
                    <!--싫어요 개수 가져오기-->
                    <span id='comment-dislike-count-{{ comment.pk }}' style="color:#9c9c9c;">
                        {{ comment.dislike_number }}
                    </span>
                </p>
            </div>
            {% for recomment in comment.recomment_set.all %}
                {{ recomment.message }}
                {% if recomment.user == user %}
                    <a href="{% url 'cast:recomment_delete' recomment.pk %}?next={{ request.path }}" class="text-danger comment_edit">삭제</a>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    <ul class="comment_box">
        {% for comment in comment_list %}
        <li class="comment">
            <a href=""><img class="comment-user-img" src="{{ comment.user.socialaccount_set.all.first.get_avatar_url }}" alt=""></a>
            <div class="comment_content">
                <strong class="comment_user"> {{ comment.user }}</strong>
                <p class="comment_message">{{ comment.message }}</p>

            {% if comment.user == user %}
               <p class="comment_edit">
                   <a href="{% url 'cast:comment_edit' comment.pk %}?next={{ request.path }}" >수정</a>
                    <a href="{% url 'cast:comment_delete' comment.pk %}?next={{ request.path }}" class="text-danger">삭제</a>
               </p>
            {% endif %}

                <p style="font-size:10px;">
                <!--댓글 작성 시간 가져오기-->
                <span style="color:#9c9c9c;">
                {% if comment.created_at %}
                    {{ comment.created_at|date:'Y-m-d H:i' }}
                {% endif %}
                </span>&nbsp;&nbsp;
                <a href="{% url 'cast:recomment_new' comment.pk %}?next={{ request.path }}"><img src="{% static 'cast/img/comment.png' %}" alt="" style="width:13px;">&nbsp;
                  <!--대댓 개수 가져오기-->
                  <span style="color:#9c9c9c;">{{ comment.recomment_set.all.count }}</span></a>
                   <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="like" value="1" ><img src="{% static 'cast/img/like.png' %}" alt="" style="width:13px;margin:0px 1px 0px 5px;"></a>
                   <!--좋아요 개수 가져오기-->
                    <span id='comment-like-count-{{ comment.pk }}' style="color:#9c9c9c;">
                        {{ comment.like_number }}
                    </span>
                    <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="dislike" value="2"> <img src="{% static 'cast/img/dislike.png' %}" alt="" style="margin:2px 3px 0px 5px;width:14px;"></a>
                    <!--싫어요 개수 가져오기-->
                    <span id='comment-dislike-count-{{ comment.pk }}' style="color:#9c9c9c;">
                        {{ comment.dislike_number }}
                    </span>
                </p>
            </div>
            {% for recomment in comment.recomment_set.all %}
                {{ recomment.message }}
                {% if recomment.user == user %}
                    <a href="{% url 'cast:recomment_delete' recomment.pk %}?next={{ request.path }}" class="text-danger comment_edit">삭제</a>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>
<footer class="footer">
  <form name="comment-form" action="{% url 'cast:comment_new' pk %}?next={{ request.path }}&type=contents" method="post">
      {% csrf_token %}
       <div class="add-tag-box">
          {{ comment_form.message }}
           <a onclick="document.forms['comment-form'].submit();" ><span class="upload-btn comment-upload-btn">댓글추가</span></a>
       </div>
  </form>
</footer>
<script src="{% static 'cast/js/comment.js' %}"></script>
<script>
     $(document).ready(function(){
         $('.box6').hide();
  });
</script>
{% endblock %}
