{% load staticfiles %}
<div class="contents_box" id="box5">
  <aside class="sidemenu2">
    <h2>관련 의원</h2>
    <ul>
      <li>
        <a href="#"><img src="{% static 'cast/img/congressman/9770084.png' %}" alt="">
          <div class="text">ㅇㅇㅇ의원<br>ㅇㅇㅇ정당</div>
        </a>
      </li>
      <li>
        <a href="#"><img src="{% static 'cast/img/congressman/9770090.png' %}" alt="">
          <div class="text">ㅇㅇㅇ의원<br>ㅇㅇㅇ정당</div>
        </a>
      </li>
      <li>
        <a href="#"><img src="{% static 'cast/img/congressman/9770138.png' %}" alt="">
          <div class="text">ㅇㅇㅇ의원<br>ㅇㅇㅇ정당</div>
        </a>
      </li>
    </ul>
  </aside>
</div>