{% extends 'cast/layout.html' %}

{% block content %}

{% load staticfiles %}

<div class="profile-background">
    <img src="{% static 'cast/img/right.png' %}" alt="">
</div>
<div class="close-navbar">
    <a href="{% url 'cast:index' %}"><img src="{% static 'cast/img/close.png' %}" alt="" class="close-btn"></a>
</div>
<div class="profile-section">
    <div class="information">
        <h3>{{ congressman.name }}</h3>
        <p>{{ congressman.constituency }}</p>
        <p>{{ congressman.party }}</p>
        <p>{{ congressman.description }}</p>
    </div>
    <div class="social-link">
      <div class="social-img-wrapper">
       <a href=""><img src="{% static 'cast/img/facebook.png' %}" alt=""></a>
       <a href=""><img src="{% static 'cast/img/twitter.png' %}" alt=""></a>
       <a href=""><img src="{% static 'cast/img/linkedin.png' %}" alt=""></a>
       <a href=""><img src="{% static 'cast/img/instagram.png' %}" alt=""></a>
      </div>
    </div>
    <div class="follow-btn-box">
        <button class="follow-btn">팔로우</button>
<!--    팔로우상태면 언팔로우-->
<!--    <button class="follow-btn">언팔로우</button>-->
    </div>
    {% load tagging_tags %}
    <div class="tag-box">
        {% tags_for_object congressman as tags %}
            {% for tag in tags %}
                <span class="tag">
                    <a href="{% url 'cast:tagged_list' %}?tag={{ tag.name }}">
                        #{{ tag.name }}
                    </a>
                </span>
            {% endfor %}
        {% if request.user.is_authenticated %}
            <div class="add-tag-box">
                <input type="text" id="add-tag-value" placeholder="태그를 추가해주세요.">
                <a id="add-tag">
                    <div class="upload-btn-wrapper">
                        <span class="upload-btn">추가</span>
                    </div>
                </a>
                <span class="cancel-btn"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <span class="add-tag-btn"><i class="fa fa-plus" aria-hidden="true"></i>태그추가</span>
        {% endif %}
    </div>
    <div class="like-select-box">
        <div class="like">
           <div class="btn-wrapper">
                <a class="emobtn" role="button" id="like" name="좋아요" value="1">
                    <img src="{% static 'cast/img/like.png' %}" alt=""><span id="emo_1">{{ congressman.like_number }} </span></a>
           </div>
        </div>
        <div class="dislike">
           <div class="btn-wrapper">
                <a class="emobtn" role="button" id="dislike" name="싫어요" value="2">
                    <img src="{% static 'cast/img/dislike.png' %}" alt=""><span id="emo_2">{{ congressman.dislike_number }}</span></a>
            </div>
        </div>
    </div>
    <div class="more">+더보기</div>
</div>
<div class="photo-wrapper">
    <img src="{% static congressman.profile_image_path %}" alt="" class="congressman-img">
</div>

{% load cast_extras %}
<div class="pledge-section">
<!--공약 5개까지 보여주기-->
    <table>
       <colgroup>
          <col />
          <col class="show-box">
       </colgroup>
        <tr>
            <th colspan="2">공약</th>
        </tr>
        {% for pledge in pledge_list %}
            <tr>
                <td >
                    <a href="{{ pledge.get_absolute_url }}">{{ pledge }}</a><p>
                </td>
                <td class="show-box">
                    <img src="{% static 'cast/img/glad.png' %}" alt="">
                    <span>{{ pledge|max_count }}
                    </span>
                    &nbsp;
                    <img src="{% static 'cast/img/comment.png' %}" alt="">
                    <span>{{ pledge.comment_number }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>

<p class="strapline">댓글
  <span style="color:#E8BC15;padding-right:2px;">{{ contents.comment_number }}</span>
</p>
<hr>
<div class="comment-box-div">
<ul class="comment-box">
    {% for comment in contents.comment_set.all %}
    <li class="comment">
        <!--img클릭시 해당 user의 profile로 이동해야함-->
        <a href="">
            {% if comment.user.socialaccount_set.all.first.get_avatar_url is None %}
            <!-- 프로필 이미지가 없을 경우 기본이미지로  -->
            <img class="comment-user-img" src="{% static 'cast/img/angry.png' %}" alt="">
            {% else %}
            <img class="comment-user-img" src="{{ comment.user.socialaccount_set.all.first.get_avatar_url }}" alt="">
            {% endif %}
        </a>
        <div class="comment_content">
            <strong class="comment_user"> {{ comment.user }}</strong>
            <p class="comment_message">{{ comment.message }}</p>

            {% if comment.user == user %}
            <p class="comment_edit">
               <a href="{% url 'cast:comment_edit' comment.pk %}" >수정</a>
               <a href="{% url 'cast:comment_delete' comment.pk %}" class="text-danger">삭제</a>
           </p>
           {% endif %}

           <p style="font-size:10px;">
            <!--댓글 작성 시간 가져오기-->
            <span style="color:#9c9c9c;">
                {% if comment.created_at %}
                {{ comment.created_at|date:'Y-m-d H:i' }}
                {% endif %}
            </span>&nbsp;&nbsp;
            <a href="{% url 'cast:recomment_new' comment.pk %}"><img src="{% static 'cast/img/comment.png' %}" alt="" style="width:13px;">&nbsp;
              <!--대댓 개수 가져오기-->
              <span style="color:#9c9c9c;">{{ comment.recomment_number}}</span></a>
              &nbsp;
              <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="like" value="1" ><img src="{% static 'cast/img/like.png' %}" alt="" style="width:13px;margin:0px 1px 0px 5px;"></a>
              <!--좋아요 개수 가져오기-->
              <span id='comment-like-count-{{ comment.pk }}' style="color:#9c9c9c;">
                {{ comment.like_number }}
            </span>
            <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="dislike" value="2"> <img src="{% static 'cast/img/dislike.png' %}" alt="" style="margin:2px 3px 0px 5px;width:14px;"></a>
            <!--싫어요 개수 가져오기-->
            <span id='comment-dislike-count-{{ comment.pk }}' style="color:#9c9c9c;">
                {{ comment.dislike_number }}
            </span>
        </p>
    </div>
    {% for recomment in comment.recomment_set.all %}
    <li class="comment recomment">
        <img class="reply-img" src="{% static 'cast/img/reply.png' %}" alt="">
        <a href="">
            {% if recomment.user.socialaccount_set.all.first.get_avatar_url is None %}
            <!-- 프로필 이미지가 없을 경우 기본이미지로  -->
            <img class="comment-user-img recomment-user-img" src="{% static 'cast/img/angry.png' %}" alt="">
            {% else %}
            <img class="comment-user-img recomment-user-img" src="{{ recomment.user.socialaccount_set.all.first.get_avatar_url }}" alt="">
            {% endif %}
        </a>
        <div class="comment_content recomment_content">
            <strong class="comment_user"> {{ recomment.user }}</strong>
            <p class="comment_message rcomment-message">{{ recomment.message }}</p>

            {% if recomment.user == user %}
            <span class="comment_edit">
                <a href="{% url 'cast:recomment_delete' recomment.pk %}" class="text-danger comment_edit">삭제</a>
            </span>
            {% endif %}
        </li>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
</div>
<div class="more"><a data-toggle="modal" data-target="#exampleModalLong">+더보기</a></div>

<script type="text/javascript">

    function login_confirm(){
        if(confirm("로그인 하시겠습니까?") == true)
        {
            location.href = "{% url 'accounts:login' %}"
        }
    };
    $(document).ready(function(){
          $('.add-tag-box').css('display','none');
    });

    //태그추가 버튼 클릭시 태그 추가 박스 보이도록
    $('.add-tag-btn').click(function(){
        $('.add-tag-box').css('display','block');
        $(this).css('display','none');
    });

    //취소버튼 클릭시 태그 추가 박스 display:none
    $('.cancel-btn').click(function(){
        $('.add-tag-box').css('display','none');
        $('.add-tag-btn').css('display','inline');
    });

    $('.emobtn').click(function(){
        // 컨텐츠 감정표현 버튼 클릭시
        var emotion_name = $(this).attr('value'); // 클릭한 요소의 attribute 중 value의 값을 가져온다.

        $.ajax({
            url: "{% url 'cast:congressman_emotion' congressman.pk %}?emotion_name=" + emotion_name, // 통신할 url을 지정한다.
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(data){
                // 요청이 성공했을 경우 눌려있는 버튼 모양을 바꿔준다.

                if( data.emotion_status == 'create' ){
                    $('#emo_' + emotion_name).text(Number($('#emo_' + emotion_name).text()) + 1)
                }
                else if( data.emotion_status == 'update' ){
                    $('#emo_' + emotion_name).text(Number($('#emo_' + emotion_name).text()) + 1)
                    $('#emo_' + data.before_emotion_name).text(Number($('#emo_' + data.before_emotion_name).text()) - 1)
                }
                else if ( data.emotion_status == 'delete' ){
                    $('#emo_' + emotion_name).text(Number($('#emo_' + emotion_name).text()) - 1)
                }
            },
            error:function(error){
                // 요청이 실패했을 경우
                if( error.status == 401 )
                {
                    login_confirm()
                }
            }
        });
    });

    $('#add-tag').click(function(){
    // 태그 추가 버튼 클릭시
        tag = $('#add-tag-value').val()
        $.ajax({
            type: "GET", // GET 요청으로 한다.
            url: "{% url 'cast:ajax_add_tag' congressman.pk %}?type=congressman&tag=" + tag, // 통신할 url을 지정한다.
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(data){
                // 요청이 성공했을 경우 눌려있는 버튼 모양을 바꿔준다.
                $(".add-tag-box").before("<span class='tag'><a href='{% url 'cast:tagged_list' %}?tag="+tag+"'>#"+tag+"</a></span>");
                $('.add-tag-box').css('display','none');
                $('.add-tag-btn').css('display','inline');
            },
            error:function(error){
                // 요청이 실패했을 경우
                if( error.status == 401 )
                {
                    login_confirm()
                }
            }
        });
    });
</script>
{% endblock %}
