{% load staticfiles %}
<div class="boxA">
  <div class="contents_box" id="box3">
    <div class="box3-1">
      <div class="infinite-container"><!-- 페이지네이션된 항목들이 표시될 컨테이너 /.infinite-more-link가 화면에 뜰 때마다 로딩된다.-->
        <div class="infinite-item"> <!-- 표시될 항목 -->
          <div class="container">
            <div class="row">
              {% for contents in contents_list %}
              <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 grid">
                <article class="summary">
                  <!--<a href="https://www.youtube.com/watch?v=NQ6gup07wRI">-->
                  <a href="{{ contents.get_absolute_url }}">
                    <img width="100%" src="{{ contents.get_image_url }}" />
                    <div class="grid-text">
                      <p class="contents-title">{{ contents.title }}</p>
                      <!--                                                <p class="contents-description">{{ contents.description }}</p>-->
                    </div>

                    {% load tagging_tags %}
                    {% tags_for_object contents as tags %}
                    <div class="tag-box">
                      {% for tag in tags %}
                      <span class="tag">#{{ tag.name }}</span>
                      {% endfor %}
                    </div>

                    <div class="card-tail">
                      <div class="pull-left">
                        <span class="emotion-icon-btn">
                          <img src="{% static 'cast/img/nice.png' %}" alt="" class="emotion-img"><span class="emotion-count">{{ contents.like_number }}</span>
                        </span>
                      </div>
                      <div class="contents-comment-box">
                        <img src="{% static 'cast/img/comment.png' %}" alt="" class="comment-img"><span class="comment-count">{{ contents.comment_number }}</span>
                      </div>
                      <div class="pull-right">
                        <span class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                      </div>
                    </div>
                  </a>
                </article>
              </div>
              {% endfor %}
            </div>
          </div>
        </div><!-- /.infinite-item -->
      </div><!-- /.infinite-container -->
    </div>

    {% if contents_list.has_next %}
      <a class="infinite-more-link" href="?page={{ contents_list.next_page_number }}">More</a> <!-- 다음페이지가 없을때까지 .infinite-more-link 표시-->
    {% endif %}

    <div class="loading" style="display: none;">Loading...</div> <!-- /.loading -->
  </div>

</div>

<script>

  //index페이지 mian background-color변경
  $(document).ready(function(){
    $('body').css('background-color','#fbfbf9');
  });

  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });

</script>
