{% extends "cast/layout.html" %}
{% block content %}

{% include 'cast/top_panel.html' %}         <!-- Logo, 검색버튼, 로그인 -->
{% include 'cast/tag_container.html' %}     <!-- Tag -->
{% include 'cast/select_box.html' %}        <!-- 공약, 이슈, 국회의원 -->
{% include 'cast/issue_list.html' %}        <!-- 이슈 리스트 -->
{% include "cast/pledge_list.html" %}       <!-- 공약 리스트 -->
{% include "cast/congressman_list.html" %}  <!-- 국회의원 리스트 -->

<script>

  //index페이지 mian background-color변경
  $(document).ready(function(){
    $('main').css('background-color','#fbfbf9');
  });

  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });

</script>

{% endblock %}
