{% extends "cast/layout.html" %}

{% block content %}

{% include 'cast/top_panel.html' %}         <!-- Logo, 검색버튼, 로그인 -->
{% include 'cast/tag_container.html' %}     <!-- Tag -->
{% include 'cast/select_box.html' %}        <!-- 공약, 이슈, 국회의원 -->
<div id="list"></div>

<script>

  //index페이지 mian background-color변경
  $(document).ready(function(){
    $('body').css('background-color','#fbfbf9');
  });

  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });

  $('.idx-btn').click(function(){
    // 리스트 버튼 클릭시
    $(".idx-btn").removeClass('active');
    $(this).addClass('active');

    type = $(this).attr('id');

    $.ajax({
          type: "POST",
          url: "{% url 'cast:index' %}",
          data: {'type': type, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success: function(data){
            console.log(data)
              $('#list').html(data);
          },
          error: function(error){
            alert("실패");
          }
      });
    });


</script>

{% endblock %}
