{% extends "cast/layout.html" %}

{% block content %}

{% include 'cast/top_panel.html' %}         <!-- Logo, 검색버튼, 로그인 -->
{% include 'cast/tag_container.html' %}     <!-- Tag -->
{% include 'cast/select_box.html' %}        <!-- 공약, 이슈, 국회의원 -->
<div id="list">
  {% include 'cast/contents_list.html' %}
</div>

<script>

  //index페이지 mian background-color변경
  $(document).ready(function(){
    $('body').css('background-color','#fbfbf9');
  });


  $('.idx-btn').click(function(){
    // 리스트 버튼 클릭시
    $(".idx-btn").removeClass('active');
    $(this).addClass('active');

    tag = $('.tag-name.active').attr('value');
    type = $(this).attr('id');

    if(type == 'contents')
      url = "{% url 'cast:index' %}"
    else if(type == 'pledge')
      url = "{% url 'cast:pledge_list' %}"
    else if(type == 'congressman')
      url = "{% url 'cast:congressman_list' %}"

    $.ajax({
          type: "POST",
          url: url,
          data: {'tag':tag, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success: function(data){
            $('#list').html(data);
            console.log(data)
          },
          error: function(error){
            alert("실패");
          }
      });
    });

  $('.tag-name').click(function(){
    // 태그 리스트 버튼 클릭시
    $(".tag-name").removeClass('active');
    $(this).addClass('active');

    tag = $(this).attr('value');
    type = $('.idx-btn.active').attr('id');

    if(type == 'contents')
      url = "{% url 'cast:index' %}"
    else if(type == 'pledge')
      url = "{% url 'cast:pledge_list' %}"
    else if(type == 'congressman')
      url = "{% url 'cast:congressman_list' %}"

    $.ajax({
          type: "POST",
          url: url,
          data: {'tag': tag, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success: function(data){

            $('#list').html(data);

          },
          error: function(error){
            alert("실패");
          }
      });
    });

</script>

{% endblock %}
