{% extends 'layout.html' %}

{% load staticfiles %}

{% block title %}
CAST
{% endblock %}

{% block extra_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'cast/css/swiper-3.4.2.min.css' %}">     <!-- tag container css -->
  <link rel="stylesheet" type="text/css" href="{% static 'cast/css/cast_style.css' %}">           <!-- main css -->

  <!-- css -->

  
  <script type="text/javascript" src="{% static 'cast/js/jquery.waypoints.min.js' %}"></script> <!-- 무한 스크롤 -->
  <script type="text/javascript" src="{% static 'cast/js/infinite.min.js' %}"></script>         <!-- 무한 스크롤 -->
  <script type="text/javascript" src="{% static 'cast/js/swiper-3.4.2.min.js' %}"></script>     <!-- tag container -->
  <script type="text/javascript" src="{% static 'cast/js/sidebar.js' %}"></script>              <!-- sidebar -->

  <!-- javascript -->

{% endblock %}


{% block app_content %}
<body class="top">

  {% include 'cast/sidebar.html' %}

  <div class="overlay" data-sidebar-overlay></div>
  {% block content %}
  
  {% endblock %}

  {% include 'footer.html' %}

  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 0,
      grabCursor: true,
      freeMode: true,
    });

    $(document).ready(function(){
      for (var i = 5; i < 11; i++){
        $("#pledge"+i).hide();
      }
    });
  </script>

</body>
{% endblock %}
