{% load staticfiles %}
<div class="contents_box" id="box4">
    <ul>
        {% load cast_extras %}
        {% for pledge in pledge_list %}
        <a href="{{ pledge.get_absolute_url }}">
        <li>
            <div class="pledge-box">

                <img src="{% static pledge.congressman.profile_image_path %}" alt="" class="congressman-img">
                <div class="congressman-name">
                    <span>{{ pledge.congressman.name }}</span>
                    <span class="pledge-samll-txt">의원</span>
                </div>
                <div class="pledge-contents-box">
                    <span class="pledge-title margin-top-4px ">{{ pledge.title }}</span>
                    <span class="pledge-samll-txt margin-top-4px">
                        <img src="{% static 'cast/img/nice.png' %}" alt="" class="emotion-img">
                        <span class="count">{{ pledge.like_number }}</span>
                        <img src="{% static 'cast/img/comment.png' %}" alt="" class="comment-img">
                        <span class="count">{{ pledge.comment_number }}</span>
                    </span>
                </div>
                <div class="right-box">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- .pledge-box여러개 만드려면 position:absolute 때문에 top값 하나하나 줘야함ㅠㅠ -->
<script>

  //index페이지 mian background-color변경
  $(document).ready(function(){
    $('body').css('background-color','#fbfbf9');
  });

  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });

</script>

