{% extends 'cast/layout.html' %}

{% block content %}

{% load staticfiles %}

{% include 'cast/navbar.html' %}

<div class="pledge_title">
    {{ pledge.title }}
</div>


<div class="pledge_info">
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="{% static pledge.congressman.profile_image_path %}" alt="">
                </td>
                <td>
                    <div style="font-size: 20px;">
                        <a href="{{ pledge.congressman.get_absolute_url }}"> {{ pledge.congressman.name }} </a>
                    </div>
                    </br>
                    <div style="font-size: 15px;">의원</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pledge_description" style="font-size: 30px;">
    {{ pledge.description}}</br>
</div>


<div class="pledge_status_title">
    <div>이행률</div>
</div>

<div class="pledge_status_content">
<div style="width: 100px; margin: auto;">
        <div style="width: 100px; height: 100px; border-radius: 50%; background-color: #eeeeee; margin-top: 20px; display: inline-block;">
            <div style="width: 80px; height: 80px; border-radius: 50%; background-color: white; margin-left: 10px; margin-top: 10px; display: inline-block;">
                <div style="display: inline-block; text-align: center; width: 100%; height: 20px; margin-top: 30px;">
                    {{ pledge.get_status_display }}
                </div>
            </div>
        </div>
    </div>
</div>

{% load tagging_tags %}
<div class="tag-box">

    {% tags_for_object pledge as tags %}
    {% for tag in tags %}
    <span class="tag">
        <a href="{% url 'cast:tagged_list' %}?tag={{ tag.name }}">
            #{{ tag.name }}
        </a>
    </span>
    {% endfor %}
    {% if not request.user.is_anonymous %}
    <div class="add-tag-box">
       <input type="text" id="add-tag-value" placeholder="태그를 추가해주세요.">
       <a id="add-tag"><span class="upload-btn">추가</span></a>
       <span class="cancel-btn"><i class="fa fa-times" aria-hidden="true"></i></span>
   </div>
   <span class="add-tag-btn"><i class="fa fa-plus" aria-hidden="true"></i>태그추가</span>
   {% endif %}
</div>


<hr>

{% load cast_extras %}
    <div class="like-select-box">
        <div class="like">
           <div class="btn-wrapper">
                <a class="emobtn" role="button" id="like" name="좋아요" value="1">
                    <img src="{% static 'cast/img/like.png' %}" alt=""><span id="emo_1">{{ pledge.like_number }} </span></a>
           </div>
        </div>
        <div class="dislike">
           <div class="btn-wrapper">
                <a class="emobtn" role="button" id="dislike" name="싫어요" value="2">
                    <img src="{% static 'cast/img/dislike.png' %}" alt=""><span id="emo_2">{{ pledge.dislike_number }}</span></a>
            </div>
        </div>
    </div>
<hr>

<div class="add-comment-box cd-comment-box">
    <form name="comment-form" action="{% url 'cast:comment_new' pledge.pk %}?next={{ request.path }}&type=pledge" method="post">
        {% csrf_token %}
        {{ comment_form.message }}
        <a onclick="document.forms['comment-form'].submit();" ><span class="upload-btn comment-upload-btn" id="cd-upload-btn">댓글추가</span></a>
    </form>
</div>


<p class="strapline">댓글
  <span style="color:#E8BC15;padding-right:2px;">{{ pledge.comment_set.all.count }}</span>
</p>
<hr>
<div class="comment-box-div">
    <ul class="comment-box">
        {% for comment in pledge.comment_set.all %}
        <li class="comment">
            <!--img클릭시 해당 user의 profile로 이동해야함-->
            <a href="">
                {% if comment.user.socialaccount_set.all.first.get_avatar_url is None %}
                <!-- 프로필 이미지가 없을 경우 기본이미지로  -->
                <img class="comment-user-img" src="{% static 'cast/img/angry.png' %}" alt="">
                {% else %}
                <img class="comment-user-img" src="{{ comment.user.socialaccount_set.all.first.get_avatar_url }}" alt="">
                {% endif %}
            </a>
            <div class="comment_content">
                <strong class="comment_user"> {{ comment.user }}</strong>
                <p class="comment_message">{{ comment.message }}</p>

                {% if comment.user == user %}
                <p class="comment_edit">
                   <a href="{% url 'cast:comment_edit' comment.pk %}" >수정</a>
                   <a href="{% url 'cast:comment_delete' comment.pk %}" class="text-danger">삭제</a>
               </p>
               {% endif %}

               <p style="font-size:10px;">
                <!--댓글 작성 시간 가져오기-->
                <span style="color:#9c9c9c;">
                    {% if comment.created_at %}
                    {{ comment.created_at|date:'Y-m-d H:i' }}
                    {% endif %}
                </span>&nbsp;&nbsp;
                <a href="{% url 'cast:recomment_new' comment.pk %}"><img src="{% static 'cast/img/comment.png' %}" alt="" style="width:13px;">&nbsp;
                  <!--대댓 개수 가져오기-->
                  <span style="color:#9c9c9c;">{{ comment.recomment_set.all.count }}</span></a>
                  &nbsp;
                  <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="like" value="1" ><img src="{% static 'cast/img/like.png' %}" alt="" style="width:13px;margin:0px 1px 0px 5px;"></a>
                  <!--좋아요 개수 가져오기-->
                  <span id='comment-like-count-{{ comment.pk }}' style="color:#9c9c9c;">
                    {{ comment.like_number }}
                </span>
                <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="dislike" value="2"> <img src="{% static 'cast/img/dislike.png' %}" alt="" style="margin:2px 3px 0px 5px;width:14px;"></a>
                <!--싫어요 개수 가져오기-->
                <span id='comment-dislike-count-{{ comment.pk }}' style="color:#9c9c9c;">
                    {{ comment.dislike_number }}
                </span>
            </p>
        </div>
        {% for recomment in comment.recomment_set.all %}
        <li class="comment recomment">
            <img class="reply-img" src="{% static 'cast/img/reply.png' %}" alt="">
            <a href="">
                {% if recomment.user.socialaccount_set.all.first.get_avatar_url is None %}
                <!-- 프로필 이미지가 없을 경우 기본이미지로  -->
                <img class="comment-user-img recomment-user-img" src="{% static 'cast/img/angry.png' %}" alt="">
                {% else %}
                <img class="comment-user-img recomment-user-img" src="{{ recomment.user.socialaccount_set.all.first.get_avatar_url }}" alt="">
                {% endif %}
            </a>
            <div class="comment_content recomment_content">
                <strong class="comment_user"> {{ recomment.user }}</strong>
                <p class="comment_message rcomment-message">{{ recomment.message }}</p>

                {% if recomment.user == user %}
                <span class="comment_edit">
                    <a href="{% url 'cast:recomment_delete' recomment.pk %}" class="text-danger comment_edit">삭제</a>
                </span>
                {% endif %}
            </li>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>
<div class="more"><a data-toggle="modal" data-target="#exampleModalLong">+더보기</a></div>

<!--모달 시작-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLongTitle">댓글&nbsp;<span style="color:#E8BC15;padding-left:2px;">{{ contents.comment_set.all.count }}</span></h5>
                <div class="add-comment-box">
                    <form name="comment-form" action="{% url 'cast:comment_new' pledge.pk %}?next={{ request.path }}&type=pledge" method="post">
                        {% csrf_token %}
                        {{ comment_form.message }}
                        <a onclick="document.forms['comment-form'].submit();" ><span class="upload-btn comment-upload-btn">댓글추가</span></a>
                    </form>
                </div>
            </div>
            <div class="modal-body">
                <ul class="comment-box">
                    {% for comment in pledge.comment_set.all %}
                    <li class="comment">
                        <!--img클릭시 해당 user의 profile로 이동해야함-->
                        <a href="">
                            {% if comment.user.socialaccount_set.all.first.get_avatar_url is None %}
                            <!-- 프로필 이미지가 없을 경우 기본이미지로  -->
                            <img class="comment-user-img" src="{% static 'cast/img/angry.png' %}" alt="">
                            {% else %}
                            <img class="comment-user-img" src="{{ comment.user.socialaccount_set.all.first.get_avatar_url }}" alt="">
                            {% endif %}
                        </a>
                        <div class="comment_content">
                            <strong class="comment_user"> {{ comment.user }}</strong>
                            <p class="comment_message">{{ comment.message }}</p>

                            {% if comment.user == user %}
                            <p class="comment_edit">
                                <a href="{% url 'cast:comment_edit' comment.pk %}?next={{ request.path }}" >수정</a>
                                <a href="{% url 'cast:comment_delete' comment.pk %}?next={{ request.path }}" class="text-danger">삭제</a>
                            </p>
                            {% endif %}

                            <p style="font-size:10px;">
                                <!--댓글 작성 시간 가져오기-->
                                <span style="color:#9c9c9c;">
                                    {% if comment.created_at %}
                                    {{ comment.created_at|date:'Y-m-d H:i' }}
                                    {% endif %}
                                </span>&nbsp;&nbsp;
                                <a href="{% url 'cast:recomment_new' comment.pk %}?next={{ request.path }}"><img src="{% static 'cast/img/comment.png' %}" alt="" style="width:13px;">&nbsp;
                                  <!--대댓 개수 가져오기-->
                                  <span style="color:#9c9c9c;">{{ comment.recomment_set.all.count }}</span></a>
                                  &nbsp;
                                  <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="like" value="1" ><img src="{% static 'cast/img/like.png' %}" alt="" style="width:13px;margin:0px 1px 0px 5px;"></a>
                                  <!--좋아요 개수 가져오기-->
                                  <span id='comment-like-count-{{ comment.pk }}' style="color:#9c9c9c;">
                                    {{ comment.like_number }}
                                </span>
                                <a role="button" class="comment-emo-btn" id={{ comment.pk }} name="dislike" value="2"> <img src="{% static 'cast/img/dislike.png' %}" alt="" style="margin:2px 3px 0px 5px;width:14px;"></a>
                                <!--싫어요 개수 가져오기-->
                                <span id='comment-dislike-count-{{ comment.pk }}' style="color:#9c9c9c;">
                                    {{ comment.dislike_number }}
                                </span>
                            </p>
                        </div>
                        {% for recomment in comment.recomment_set.all %}
                        <li class="comment recomment">
                            <img class="reply-img" src="{% static 'cast/img/reply.png' %}" alt="">
                            <a href="">
                                {% if recomment.user.socialaccount_set.all.first.get_avatar_url is None %}
                                <!-- 프로필 이미지가 없을 경우 기본이미지로  -->
                                <img class="comment-user-img recomment-user-img" src="{% static 'cast/img/angry.png' %}" alt="">
                                {% else %}
                                <img class="comment-user-img recomment-user-img" src="{{ recomment.user.socialaccount_set.all.first.get_avatar_url }}" alt="">
                                {% endif %}
                            </a>
                            <div class="comment_content recomment_content">
                                <strong class="comment_user"> {{ recomment.user }}</strong>
                                <p class="comment_message rcomment-message">{{ recomment.message }}</p>

                                {% if recomment.user == user %}
                                <span class="comment_edit">
                                    <a href="{% url 'cast:recomment_delete' recomment.pk %}" class="text-danger comment_edit">삭제</a>
                                </span>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--
    <form action="{% url "cast:comment_new" pledge.pk %}?type=pledge" method="post">
        {% csrf_token %}
        {{ comment_form.message }}
        <input type="submit" class="btn btn-primary btn-block" value="댓글 쓰기" />
    </form>
    <ul>
        {% for comment in pledge.comment_set.all %}
        <li>
            {{ comment.message }}
            <small>by {{ comment.user }}</small>
            {% if comment.user == user %}
                <a href="{% url "cast:comment_edit" comment.pk %}">Edit</a>
                <a href="{% url "cast:comment_delete" comment.pk %}" class="text-danger">Delete</a>
            {% endif %}
            <button type="button" class="comment-emo-btn btn btn-primary" id={{ comment.pk }} name="좋아요" value="1" style="color:white;">좋아요</button>
            <button type="button" class="comment-emo-btn btn btn-primary" id={{ comment.pk }} name="싫어요" value="2" style="color:white;">싫어요</button>
        </li>
        {% endfor %}
    </ul>
-->


<script src="{% static 'cast/js/comment.js' %}"></script>
<script type="text/javascript">


  $(document).ready(function(){
    $('.add-tag-box').css('display','none');
    window.z = $('.comment-box');
//
//    var len = $('.comment-box').height();
//    $('.more').css('top',len+'px');
});

    //태그추가 버튼 클릭시 태그 추가 박스 보이도록
    $('.add-tag-btn').click(function(){
        $('.add-tag-box').css('display','block');
        $(this).css('display','none');
    });
    //취소버튼 클릭시 태그 추가 박스 display:none
    $('.cancel-btn').click(function(){
        $('.add-tag-box').css('display','none');
        $('.add-tag-btn').css('display','inline');
    });

    $('.emobtn').click(function(){
        // 컨텐츠 감정표현 버튼 클릭시
        var emotion_name = $(this).attr('value'); // 클릭한 요소의 attribute 중 value의 값을 가져온다.

        $.ajax({
            url: "{% url 'cast:pledge_emotion' pledge.pk %}?emotion_name=" + emotion_name, // 통신할 url을 지정한다.
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(data){
                // 요청이 성공했을 경우 눌려있는 버튼 모양을 바꿔준다.

                if( data.emotion_status == 'create' ){
                    $('#emo_' + emotion_name).text(Number($('#emo_' + emotion_name).text()) + 1)
                }
                else if( data.emotion_status == 'update' ){
                    $('#emo_' + emotion_name).text(Number($('#emo_' + emotion_name).text()) + 1)
                    $('#emo_' + data.before_emotion_name).text(Number($('#emo_' + data.before_emotion_name).text()) - 1)
                }
                else if ( data.emotion_status == 'delete' ){
                    $('#emo_' + emotion_name).text(Number($('#emo_' + emotion_name).text()) - 1)
                }
            },
            error:function(error){
                // 요청이 실패했을 경우
                if( error.status == 401 )
                {
                    login_confirm()
                }
            }
        });
    });

    $('.comment-emo-btn').click(function(){
        var emotion_name = $(this).attr('value'); // 클릭한 요소의 attribute 중 value의 값을 가져온다.
        var comment_pk = $(this).attr('id');

        $.ajax({
            url: "/cast/comment-emotion/"+comment_pk+"/?emotion_name=" + emotion_name, // 통신할 url을 지정한다.
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(response){
                // 요청이 성공했을 경우 눌려있는 버튼 모양을 바꿔준다.
            },
            error:function(error){
                // 요청이 실패했을 경우
            }
        });
    });

    $('#favorite').click(function(){
        // 즐겨찾기 추가(ajax 처리)
        $.ajax({
            type: "POST", // POST 요청으로 한다.
            url: "{% url 'cast:ajax_favorites' pledge.pk %}", // 통신할 url을 지정한다.
            data:
            {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'type': 'pledge',
            }, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(data){
                // 요청이 성공했을 경우 눌려있는 버튼 모양을 바꿔준다.
                if(data.isFavorite == true)
                {
                    $('#favorite').css('color','red');
                }
                else
                {
                    $('#favorite').css('color','gray');
                }
            },
            error:function(error){
                // 요청이 실패했을 경우
                console.log(error)
            }
        });
    });
    $('#add-tag').click(function(){
        // 태그 추가 버튼 클릭시
        tag = $('#add-tag-value').val()

        $.ajax({
            type: "GET", // GET 요청으로 한다.
            url: "{% url 'cast:ajax_add_tag' pledge.pk %}?type=pledge&tag=" + tag, // 통신할 url을 지정한다.
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(data){
                // 요청이 성공했을 경우 눌려있는 버튼 모양을 바꿔준다.
                $(".add-tag-box").before("<span class='tag'><a href='{% url 'cast:tagged_list' %}?tag="+tag+"'>#"+tag+"</a></span>");
                $('.add-tag-box').css('display','none');
                $('.add-tag-btn').css('display','inline');
            },
            error:function(error){
                // 요청이 실패했을 경우
                console.log(error)
            }
        });
    });
</script>
{% endblock %}




