{% load staticfiles %}
   <div class="contents_box" id="box4">
    <aside class="sidemenu">
        <ul class="pledge-box">
            <li class="pledge-contents-box">
               <div class="congressman-img-box">
                   <a href="" class="congressman-btn"><img class="congressman-img" src="http://kmanifesto.or.kr/photos/p3851.jpg" alt=""></a>
               </div>
                <div class="congressman-name">
                    <strong>이종구</strong>
                    <span class="congressman-title">의원</span>
                </div>
                <div class="pledge-title">
                    부동산 규제 강화
                    <div class="icon-box">
                        <img src="{% static 'cast/img/nice.png' %}" alt="" class="emotion-img">
                        <span class="count">35</span>
                        <img src="{% static 'cast/img/comment.png' %}" alt=""class="comment-img">
                        <span class="count">35</span>
                    </div>
                </div>
                <div class="right-box">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </li> 
            
                        <li class="pledge-contents-box">
               <div class="congressman-img-box">
                   <a href="" class="congressman-btn"><img class="congressman-img" src="http://kmanifesto.or.kr/photos/p3851.jpg" alt=""></a>
               </div>
                <div class="congressman-name">
                    <strong>이종구</strong>
                    <span class="congressman-title">의원</span>
                </div>
                <div class="pledge-title">
                    부동산 규제 강화
                    <div class="icon-box">
                        <img src="{% static 'cast/img/nice.png' %}" alt="" class="emotion-img">
                        <span class="count">35</span>
                        <img src="{% static 'cast/img/comment.png' %}" alt=""class="comment-img">
                        <span class="count">35</span>
                    </div>
                </div>
                <div class="right-box">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </li> 
            
                        <li class="pledge-contents-box">
               <div class="congressman-img-box">
                   <a href="" class="congressman-btn"><img class="congressman-img" src="http://kmanifesto.or.kr/photos/p3851.jpg" alt=""></a>
               </div>
                <div class="congressman-name">
                    <strong>이종구</strong>
                    <span class="congressman-title">의원</span>
                </div>
                <div class="pledge-title">
                    부동산 규제 강화
                    <div class="icon-box">
                        <img src="{% static 'cast/img/nice.png' %}" alt="" class="emotion-img">
                        <span class="count">35</span>
                        <img src="{% static 'cast/img/comment.png' %}" alt=""class="comment-img">
                        <span class="count">35</span>
                    </div>
                </div>
                <div class="right-box">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </li> 
        </ul>
    </aside>
</div>