{% extends "cast/layout.html" %}

{% block content %}
    <form id="form" method="GET" action="/cast/tags">
        <input type="text" id="id-tag" class="form-control search_web"  placeholder="검색해보세요" name='tag' value="{{ request.GET.tag }}" autocomplete="off" style="width:300px;" >
        <button type="submit" class="btn btn-primary" value="검색">검색</button>
    </form>
    {% for contents in contents_list|slice:":12" %}
        <iframe width="200" height="200" src="{{ contents.url_path }}" frameborder="0" allowfullscreen></iframe>
        <a href="{{ contents.get_absolute_url }}">
            {{ contents.title }}</a>
    {% endfor %}
    <p>
    {% for congressman in congressman_list %}
        <a href="{{ congressman.get_absolute_url }}">
            {{ congressman }}</a>
    {% endfor %}
    <p>
    {% for pledge in pledge_list %}
        <a href="{{ pledge.get_absolute_url }}">
            {{ pledge }}</a>
    {% endfor %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#id-tag').autocomplete({
            minLength: 2, // 자동완성 최소 글자 수
            source:"{% url 'cast:ajax_tag_autocomplete' %}",
            focus: function( event, ui ) {
                // 목록에 포커싱 됐을 때 실행될 함수
                return false; // 포커싱 된 목록을 선택할 것인가
            }
        });
});

</script>
{% endblock %}
