{% load staticfiles %}
<aside class="sidebar" data-sidebar>
<div>


    {% load socialaccount %}
    <ul class="side_bar_menu">
    {% if not user.is_authenticated %}
        <li>
            <a href="{% provider_login_url 'kakao' %}" >
                <span class="glyphicon glyphicon-user"></span> Login</a>
        </li>

    {% else %}
      <div class="profile">
          <a href="{% url 'accounts:profile' %}"><img class="profile_user_img" src="{{ user.socialaccount_set.all.first.get_avatar_url }}" alt=""></a>
          <ul class="user_profile">
              <li style="margin-top:20px;">
                  <a href="{% url 'accounts:profile' %}">{{ user.username }}</a>
              </li>
              <li style="font-size:13px;">
                  <a href="{% url 'accounts:logout' %}">로그아웃</a>
              </li>
          </ul>
      </div>
                <li class="menu"><img src="{% static 'cast/img/tag.png' %}" alt="" style="width:15px;margin-right:5px;"><a href="{% url 'cast:tagged_list' %}">Tags</a></li>
                </li>
      {% endif %}


            <li class="menu"><a href="{% url 'board:feedback_list' %}">Feedback</a></li>
            <li class="menu"><a href="#">About</a></li>
            <li class="menu"><a href="#" data-sidebar-button>&times;</a></li>
        </ul>

</div>
</aside>
