{% load staticfiles %}
<aside class="sidebar" data-sidebar>
<div>
    {% load socialaccount %}
    <ul class="side_bar_menu">
        <li class="menu" style="text-align: right; padding-right: 30px"><a href="#" data-sidebar-button><i class="fas fa-times"></i></a></li>
        <hr>
        <li class="menu"><a href="{% url 'board:about' %}"><i class="fas fa-thumbtack"></i> About</a></li>
        <hr>
        <li class="menu"><a href="{% url 'board:feedback_list' %}"><i class="fas fa-comments"></i> Feedback</a></li>
        <hr>

        {% if not user.is_authenticated %}
            <li class="menu">
                <a href="{% provider_login_url 'kakao' %}" >
                    <i class="fas fa-user"></i> Login</a>
            </li>
            <hr>

        {% else %}
            <div class="profile">
                <a href="{% url 'accounts:profile' %}">
                    <img class="profile_user_img" src="{{ user.socialaccount_set.all.first.get_avatar_url }}" alt="">
                </a>
                <ul class="user_profile">
                    <li style="margin-top:20px;">
                        <a href="{% url 'accounts:profile' %}">{{ user.username }}</a>
                    </li>
                    <hr>
                    <li style="font-size:13px;">
                        <a href="{% url 'accounts:logout' %}">로그아웃</a>
                    </li>
                    <hr>
                </ul>
            </div>
            <li class="menu"><img src="{% static 'cast/img/tag.png' %}" alt="" style="width:15px;margin-right:5px;"><a href="{% url 'cast:tagged_list' %}">Tags</a></li>
            <hr>

        {% endif %}


        </ul>

</div>
</aside>
