{% extends 'cast/layout.html' %}

{% block content %}

    {% for contents in contents_list %}
        <iframe width="200" height="200" src="{{ contents.url_path }}" frameborder="0" allowfullscreen></iframe>
        <a href="{{ contents.get_absolute_url }}">
            {{ contents.title }}</a>
    {% endfor %}
    <p>
    {% for congressman in congressman_list %}
        <a href="{{ congressman.get_absolute_url }}">
            {{ congressman }}</a>
    {% endfor %}
    <p>
    {% for pledge in pledge_list %}
        {{ pledge }}
    {% endfor %}
{% endblock %}
