<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">

<head>
    <meata charset="UTF-8">
    <title>타이틀</title>
    <meta name="viewport" content="width=device-width">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="{% static 'cast/css/cast_style.css' %}">
    {% block extra_style %}
    {% endblock %}
</head>

<body class="top">

<div class="box1">
    <nav class="site navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1><a href="#LOGO">LOGO</a></h1>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li>
                    <a href="{% url 'accounts:login' %}?next={{ request.path }}">
                        <span class="glyphicon glyphicon-user"></span> Login</a>
                </li>
                <li>
                    <a href="{% url 'accounts:login' %}?next={% url 'accounts:signup_info' %}">
                        <i class="fa fa-sign-in" aria-hidden="true"></i></span> Sign Up</a></li>
            {% else %}
                <li>
                    <a href="{% url 'accounts:profile' %}">{{ user.username }}'s 프로필</a>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
</div>


{% block content %}
{% endblock %}

<div class="box6">
<div class="copyright">
<p>Copyright &copy; 국민회관</p>
</div>
</div>

</body>

</html>
