{% extends 'cast/layout.html' %}

{% block content %}

    {% for contents in contents_list %}
        <iframe width="200" height="200" src="{{ contents.url_path }}" frameborder="0" allowfullscreen></iframe>
        <a href="{% url 'cast:contents_detail' contents.pk %}">
            {{ contents.title }}</a>
    {% endfor %}
    <p>
    {% for congressman in congressman_list %}
        <a href="{% url 'cast:congressman_detail' congressman.pk %}">
            {{ congressman }}</a>
    {% endfor %}
    <p>
    {% for pledge in pledge_list %}
        {{ pledge }}
    {% endfor %}
{% endblock %}
