{% extends 'cast/layout.html' %}
{% load socialaccount %}

{% block content %}
    {% for provider in providers %}
        <li class={{provider.name}}>
            {% if provider.social_app %}
                <a href="{% provider_login_url provider.id %}" class={{provider.name}}>
                    <strong>{{ provider.name }} 로그인 </strong>
                </a>
            {% else %}
                <a>
                    Provider {{ provider.name }} 설정이 필요합니다.
                </a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}
