.new-feedback-btn {
    width: 100%;
    text-align: right;
    padding: 0 10px;
}

.new-feedback-btn .btn-new {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}

.new-feedback-btn .btn-new:hover, 
.new-feedback-btn .btn-new:active {
    transform: scale(0.95);
    background-color: #f3f3f3;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator div {
    margin: 5px 10px;
}

.paginator a {
    font-size: 16px;
}