{% extends 'cast/layout.html' %}

{% block content %}
    <img src="{{ user.socialaccount_set.all.first.get_avatar_url }}" />
    <p>
    {{ user.profile }}
    <div class="profile_info">{{ user.socialaccount_set.first.extra_data.kaccount_email }}</div>

    {% load tagging_tags %}

    {% tags_for_object user.profile as tags %}
        {% for tag in tags %}
            <a href="{% url 'cast:tagged_list' %}?tag={{ tag.name }}">
                {{ tag.name }}
            </a>
    {% endfor %}
    {% if not request.user.is_anonymous %}
        <div class="add-tag-box">
            <input type="text" id="add-tag-value" placeholder="태그를 추가해주세요.">
                <a id="add-tag"><span class="upload-btn">추가</span></a>
            <span class="cancel-btn"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <span class="add-tag-btn"><i class="fa fa-plus" aria-hidden="true"></i>태그추가</span>
    {% endif %}

<script>
    $('#add-tag').click(function(){
        // 태그 추가 버튼 클릭시
        tag = $('#add-tag-value').val()

        $.ajax({
            type: "GET", // GET 요청으로 한다.
            url: "{% url 'accounts:ajax_add_tag' %}?tag=" + tag, // 통신할 url을 지정한다.
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(data){
                // 요청이 성공했을 경우 눌려있는 버튼 모양을 바꿔준다.
                $("#add-tag-value").before("<span class='tag'><a href='{% url 'cast:tagged_list' %}?tag="+tag+"'>"+tag+"</a></span>");
                $('.add-tag-box').css('display','none');
                $('.add-tag-btn').css('display','inline');
                //댓글 추가 버튼 위치도 변경
                $('#cd-upload-btn').css('top','99%');
            },
            error:function(error){
                // 요청이 실패했을 경우
                console.log(error)
            }
        });
    });
</script>
{% endblock %}
