{% extends 'cast/layout.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% block content %}
<div class="hi">

<div class="container layer text-center">


    <form action="" method="post">
      {% csrf_token %}
      <table class="table text-center">
      <tr>
        <th colspan="2" class="warning text-center">추가 정보를 입력하세요.</th>
      </tr>
      <tr>
        <th>닉네임</th>
        <td>{{ form.nickname }}</td>
      </tr>
      <tr>
        <th>성별</th>
        <td>{{ form.sex }}</td>
      </tr>
      <tr>
        <th>생년월일</th>
        <td>{{ form.birth }}</td>
      </tr>
      <tr>
      <th rowspan="2">관심 지역</th>
      <td>{{ form.city }}</select></td>
      </tr>
      <tr>
      <td>{{ form.district }}</select></td>
      </tr>
      </table>
      <input type="submit" class="btn btn-warning" value="다음" style="float:right;">
    </form>

</div>
</div>
<script>
  var address; // json 데이터를 불러와 담아놓을 변수
  $(document).ready(function(){
    /*
    페이지 로딩 시 JSON 파일을 불러와 address 변수에 담아 놓고,
    city select box에 시/도 값 표시 default(서울특별시)
    district select box에 서울특별시 행정구 값 표시
    */
    $.getJSON( "{% static 'cast/json/address.json' %}",
      function( data ) {
        address = data;
        city_options = $('#city');
        $.each(address, function( city, val ){
          city_options.append($('<option>',
              { value: city, text: city }
            )) // select box에 option 값 추가
        });

        district_options = $('#district');
        $.each(address['서울특별시'], function( idx, val){
          district_options.append($('<option>',
            { value: val.name, text: val.name }
          ))
        });
      });
  });
  $('#city').change(function(){
    // city select box가 변경 될 경우
    city = this.value;
    district_options = $('#district');
    district_options.empty() // 기본값 설정이 되어있어 append 시 중복되므로 값을 비운다.
    $.each(address[city], function( idx, val){
      district_options.append($('<option>',
          { value: val.name, text: val.name }
        ))
    });
  });

</script>



{% endblock %}
