{% extends 'board/layout.html' %}
{% load staticfiles %}

{% block title %}
Feedback
{% endblock %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'board/css/feedback_list.css' %}">
{% endblock %}

{% block board_content %}
<div class='container'>
    <table class='table table-striped' style='margin-top: 30px;'>
        <thead>
            <!-- 테이블의 타이틀 -->
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
        </thead>
        <tbody>
            {% for feedback in feedback_list %}
                <tr onclick="location.href='{{ feedback.get_absolute_url }}'" style="cursor:pointer;">
                    <!-- 테이블 한 행 자체에 링크 걸기 -->
                    <td>{{ feedback.title }}</td>
                    <td>{{ feedback.user }}</td>
                    <td>{{ feedback.updated_at|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ feedback.hits }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr/>
    <div class="new-feedback-btn">
        <a href="{% url 'board:feedback_new' %}" class='btn-new'>글쓰기</a>
    </div>
    <div class="paginator">
        {% if is_prev_page == True %}
        <div class="prev-btn-wrapper">
            <a href="{% url 'board:feedback_list' %}?page={{ prev_page }}" class="prev-btn"><i class="fas fa-chevron-left"></i> 이전</a>
        </div>
        {% endif %}

        <div class="page-wrapper">
            <a href="{% url 'board:feedback_list' %}?page={{ current_page }}">{{ current_page }}</a>
        </div>

        {% if is_next_page == True %}
        <div class="next-btn-wrapper">
            <a href="{% url 'board:feedback_list' %}?page={{ next_page }}" class="next-btn">다음 <i class="fas fa-chevron-right"></i></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
